apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fullstack
  template:
    metadata:
      labels:
        app: fullstack
    spec:
      containers:
        - name: frontend
          image: sacheen/frontend:latest
          ports:
            - containerPort: 80

        - name: backend
          image: sacheen/backend:latest
          ports:
            - containerPort: 5000
