apiVersion: v1
kind: Service
metadata:
  name: app-service
spec:
  selector:
    app: fullstack
  ports:
    - name: http
      port: 80
      targetPort: 80
    - name: api
      port: 5000
      targetPort: 5000
